    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Current Goal</th>
          <th>Total Reps</th>
          <th>Remaining</th>
        </tr>
      </thead>
      <tbody>   
        <% @et_goals = Goal.order("progress DESC").where(exercise_type_id: exercise_type, completed_date: nil) %>
        <% @et_goals.each do | goal | %>
            <tr>
              <td><%= link_to goal.user.name, goal.user %></td> 
              <td><%= goal.total %></td>
              <td><%= goal.progress %></td>
              <td><%= goal.total - goal.progress %></td>
            </tr>
        <% end %>
      </tbody>
    </table>